@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;


}
body {
    background: black;
    color: aliceblue;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(images/me1.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a:after{
    content: '';
    width: 0px;
    height: 3px;
    background: #ff0040;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;    
}

nav ul li a:hover:after{
    width: 100%;
}

.logo{
    width: 140px;
}
.header-text{
    margin-top: 20%;
    font-size: 15px;
}

.header-text h1 {
    font-size: 60px;
    margin: 20px;
    
} 

.header-text h1 span{
    color: yellow;
}
/*About*/
.about{
    padding: 80px 0;
    color: aquamarine;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sup-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tap-title {
    display: flex;
    margin: 20px 0 40px;
  }
  .tap-link {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  .tap-link::after {
    content: '';
    width: 0px;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
  }
  
  .tap-link.active-link:hover::after{
      width: 100%;
    }
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: red;
    font-size: 16px;
}
.tab-content{
    display: none;
}
.active-tab{
    display: block;
}